# Developer tools' files
.lite_workspace.lua

# Neutralinojs binaries and builds
/bin
/dist

# Neutralinojs client (minified)
# Yes we need it
# neutralino.js

# Neutralinojs related files
.storage
*.log

# Temp files
.tmp

# Build files
/build
/out

# Node
node_modules

# Tools
bin2header*
upx*